<h1>articles</h1>
<%= link_to 'New article', new_article_path %>

  <% @articles.reverse.each do |article| %>

      <div id="article-box">
        <p id="article-title"><%= article.title %></p>
        <p id="article-text"><%= article.text %></p>
        <p><%= link_to 'Commentary', article_path(article) %></p>
        <% if current_user.id == article.user_id %>
        <p><%= link_to 'Edit', edit_article_path(article) %></p>
        <p><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>

  <% end %>
