<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ul>
        <li class="left">
          <h1><%= link_to 'Count Blogula', root_path %></h1>
        </li>
        <li class="left">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </li>
        <li class="right">
          <div class="session-links">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.name %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> |
              <%= link_to "Login", new_user_session_path %>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>

    <div id="yield-box">
    <%= yield %>
    </div>

    <footer id="footer">
      <div id="footer-text">
        <p>&copy; Sandro Braidotti @ NYCDA 2017</p>
      </div>
    </footer>
  </body>
</html>
